<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whxm.harbor.mapper.BizBuildingMapper">
    <resultMap id="BaseResultMap" type="com.whxm.harbor.bean.BizBuilding">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="floor_id" property="floorId" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="dx" property="dx" jdbcType="DOUBLE"/>
        <result column="dy" property="dy" jdbcType="DOUBLE"/>
    </resultMap>
    <!--以下为自定义部分-->
    <select id="listBuildings" resultType="com.whxm.harbor.model.BuildingVo">
        SELECT
        bs.shop_number shopNumber,
        bs.shop_name shopName,
        rsb.area shopArea,
        bt.terminal_number terminalNumber,
        <include refid="Base_Column_List"/>
        FROM biz_building bb
        left join rel_shop_building rsb on bb.id=rsb.bid
        left join biz_shop bs on rsb.number=bs.shop_number
        left join rel_terminal_building rtb on bb.id=rtb.bid
        left join biz_terminal bt on rtb.number=bt.terminal_number
        where
        ( bs.is_shop_enabled is null or bs.is_shop_enabled=1)
        <if test="floorId!=null">
            and bb.floor_id=#{floorId}
        </if>
        <if test="null!=typeList and typeList.size>0">
            and bb.type in (
            <foreach collection="typeList" item="item" separator=",">
                #{item}
            </foreach>
            )
        </if>
    </select>

    <insert id="batchReplace">
        REPLACE INTO biz_building
        (<include refid="Base_Column_List"/>)
        VALUES
        <foreach collection="list" item="item" separator=",">
            ( #{item.id} ,
            #{item.floorId,jdbcType=INTEGER},
            #{item.type,jdbcType=INTEGER},
            #{item.dx,jdbcType=DOUBLE},
            #{item.dy,jdbcType=DOUBLE})
        </foreach>
    </insert>

    <delete id="batchDelete">
        DELETE from biz_building
        where id in (
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
        )
    </delete>
</mapper>