<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whxm.harbor.mapper.BizMapMapper">
    <resultMap id="BaseResultMap" type="com.whxm.harbor.bean.BizMap">
        <id column="map_id" property="mapId" jdbcType="INTEGER"/>
        <result column="map_name" property="mapName" jdbcType="VARCHAR"/>
        <result column="map_img_path" property="mapImgPath" jdbcType="VARCHAR"/>
        <result column="floor_id" property="floorId" jdbcType="INTEGER"/>

        <result column="height" property="height" jdbcType="INTEGER"/>
        <result column="width" property="width" jdbcType="INTEGER"/>
        <result column="origin_x" property="originX" jdbcType="DOUBLE"/>
        <result column="origin_y" property="originY" jdbcType="DOUBLE"/>
        <result column="scale" property="scale" jdbcType="DOUBLE"/>
        <result column="rotate" property="rotate" jdbcType="DOUBLE"/>
    </resultMap>
    <sql id="Base_Column_List">
        map_id, map_name, map_img_path, floor_id
        , height, width, origin_x, origin_y, scale, rotate
    </sql>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE
        FROM biz_map
        WHERE map_id = #{mapId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="mapId"
            parameterType="com.whxm.harbor.bean.BizMap">
        INSERT INTO biz_map (<include refid="Base_Column_List"/>)
        VALUES (#{mapId,jdbcType=INTEGER},
        #{mapName,jdbcType=VARCHAR},
        #{mapImgPath,jdbcType=VARCHAR},
        #{floorId,jdbcType=INTEGER},
        #{height,jdbcType=INTEGER},
        #{width,jdbcType=INTEGER},
        #{originX,jdbcType=DOUBLE},
        #{originY,jdbcType=DOUBLE},
        #{scale,jdbcType=DOUBLE},
        #{rotate,jdbcType=DOUBLE})
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.whxm.harbor.bean.BizMap">
        update biz_map
        <set>
            <if test="mapName != null">
                map_name = #{mapName,jdbcType=VARCHAR},
            </if>
            <if test="mapImgPath != null">
                map_img_path = #{mapImgPath,jdbcType=VARCHAR},
            </if>
            <if test="floorId != null">floor_id = #{floorId,jdbcType=INTEGER},</if>

            <if test="height != null">height = #{height,jdbcType=INTEGER},</if>
            <if test="width != null">width = #{width,jdbcType=INTEGER},</if>
            <if test="originX != null">origin_x = #{originX,jdbcType=DOUBLE},</if>
            <if test="originY != null">origin_y = #{originY,jdbcType=DOUBLE},</if>
            <if test="scale != null">scale = #{scale,jdbcType=DOUBLE},</if>
            <if test="rotate != null">rotate = #{rotate,jdbcType=DOUBLE},</if>
        </set>
        where map_id = #{mapId,jdbcType=INTEGER}
    </update>

    <!--以下是自定义部分-->
    <select id="getBizMapList" resultMap="ExtensionResultMap">
        select
        <include refid="Base_Column_List"/>,floor_name,sort_number
        from biz_map
        LEFT JOIN biz_floor USING (floor_id)
        order by sort_number ASC
    </select>

    <resultMap id="ExtensionResultMap" type="com.whxm.harbor.bean.BizMap" extends="BaseResultMap">
        <result column="floor_name" property="floorName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectMapByFloorId" resultMap="ExtensionResultMap">
        select
        <include refid="Base_Column_List"/>,floor_name
        from biz_map
        LEFT JOIN biz_floor USING (floor_id)
        where floor_id=#{floorId}
    </select>
</mapper>