<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whxm.harbor.mapper.BizMapMapper">
    <resultMap id="BaseResultMap" type="com.whxm.harbor.bean.BizMap">
        <id column="map_id" property="mapId" jdbcType="INTEGER"/>
        <result column="map_name" property="mapName" jdbcType="VARCHAR"/>
        <result column="map_img_path" property="mapImgPath" jdbcType="VARCHAR"/>
        <result column="floor_id" property="floorId" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        map_id, map_name, map_img_path, floor_id
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from biz_map
        where map_id = #{mapId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM biz_map
        WHERE map_id = #{mapId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.whxm.harbor.bean.BizMap">
        INSERT INTO biz_map (map_id, map_name, map_img_path,
                             floor_id)
        VALUES (#{mapId,jdbcType=INTEGER}, #{mapName,jdbcType=VARCHAR}, #{mapImgPath,jdbcType=VARCHAR},
                #{floorId,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.whxm.harbor.bean.BizMap">
        insert into biz_map
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mapId != null">
                map_id,
            </if>
            <if test="mapName != null">
                map_name,
            </if>
            <if test="mapImgPath != null">
                map_img_path,
            </if>
            <if test="floorId != null">
                floor_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mapId != null">
                #{mapId,jdbcType=INTEGER},
            </if>
            <if test="mapName != null">
                #{mapName,jdbcType=VARCHAR},
            </if>
            <if test="mapImgPath != null">
                #{mapImgPath,jdbcType=VARCHAR},
            </if>
            <if test="floorId != null">
                #{floorId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.whxm.harbor.bean.BizMap">
        update biz_map
        <set>
            <if test="mapName != null">
                map_name = #{mapName,jdbcType=VARCHAR},
            </if>
            <if test="mapImgPath != null">
                map_img_path = #{mapImgPath,jdbcType=VARCHAR},
            </if>
            <if test="floorId != null">
                floor_id = #{floorId,jdbcType=INTEGER},
            </if>
        </set>
        where map_id = #{mapId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.whxm.harbor.bean.BizMap">
        UPDATE biz_map
        SET map_name     = #{mapName,jdbcType=VARCHAR},
            map_img_path = #{mapImgPath,jdbcType=VARCHAR},
            floor_id     = #{floorId,jdbcType=INTEGER}
        WHERE map_id = #{mapId,jdbcType=INTEGER}
    </update>

    <!--以下是自定义部分-->
    <select id="getBizMapList" resultMap="ExtensionResultMap">
        select
        <include refid="Base_Column_List"/>,floor_name
        from biz_map
        LEFT JOIN biz_floor USING (floor_id)
        order by map_id DESC
    </select>

    <resultMap id="ExtensionResultMap" type="com.whxm.harbor.bean.BizMap" extends="BaseResultMap">
        <result column="floor_name" property="floorName" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="batchInsert">
        insert into biz_map (<include refid="Base_Column_List"/>)
        values
        <foreach collection="list" item="item" separator=",">
            (null, #{mapName,jdbcType=VARCHAR}, #{mapImgPath,jdbcType=VARCHAR},
            #{floorId,jdbcType=INTEGER})
        </foreach>
    </insert>

    <select id="selectMapByFloorId" resultMap="ExtensionResultMap">
        select
        <include refid="Base_Column_List"/>,floor_name
        from biz_map
        LEFT JOIN biz_floor USING (floor_id)
        where floor_id=#{floorId}
    </select>
</mapper>