<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whxm.harbor.mapper.RelationTerminalBuildingMapper">
    <insert id="batchInsert" parameterType="com.whxm.harbor.bean.RelationTerminalBuilding">
        insert into rel_terminal_building (number, bid)
        values
        <if test="null!=list and list.size>0">
            <foreach collection="list" item="item" separator=",">
                (#{item.number,jdbcType=VARCHAR}, #{item.bid,jdbcType=VARCHAR})
            </foreach>
        </if>
    </insert>

    <delete id="batchDeleteByBidList">
        delete from rel_terminal_building where bid in (
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
        )
    </delete>
</mapper>