<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whxm.harbor.mapper.ShopVisitMapper">
    <resultMap id="BaseResultMap" type="com.whxm.harbor.bean.ShopVisit">
        <id column="shop_number" property="shopNumber" jdbcType="VARCHAR"/>
        <result column="shop_visit_amount" property="shopVisitAmount" jdbcType="DECIMAL"/>
        <result column="shop_visit_time" property="shopVisitTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        shop_number, shop_visit_amount, shop_visit_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from biz_shop_visit
        where shop_number = #{shopNumber,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM biz_shop_visit
        WHERE shop_number = #{shopNumber,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.whxm.harbor.bean.ShopVisit">
        INSERT INTO biz_shop_visit (shop_number, shop_visit_amount, shop_visit_time
        )
        VALUES (#{shopNumber,jdbcType=VARCHAR}, #{shopVisitAmount,jdbcType=DECIMAL}, #{shopVisitTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.whxm.harbor.bean.ShopVisit">
        insert into biz_shop_visit
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shopNumber != null">
                shop_number,
            </if>
            <if test="shopVisitAmount != null">
                shop_visit_amount,
            </if>
            <if test="shopVisitTime != null">
                shop_visit_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopNumber != null">
                #{shopNumber,jdbcType=VARCHAR},
            </if>
            <if test="shopVisitAmount != null">
                #{shopVisitAmount,jdbcType=DECIMAL},
            </if>
            <if test="shopVisitTime != null">
                #{shopVisitTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.whxm.harbor.bean.ShopVisit">
        update biz_shop_visit
        <set>
            <if test="shopVisitAmount != null">
                shop_visit_amount = #{shopVisitAmount,jdbcType=DECIMAL},
            </if>
            <if test="shopVisitTime != null">
                shop_visit_time = #{shopVisitTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where shop_number = #{shopNumber,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.whxm.harbor.bean.ShopVisit">
        UPDATE biz_shop_visit
        SET shop_visit_amount = #{shopVisitAmount,jdbcType=DECIMAL},
            shop_visit_time   = #{shopVisitTime,jdbcType=TIMESTAMP}
        WHERE shop_number = #{shopNumber,jdbcType=VARCHAR}
    </update>

    <!--以下是自定义部分-->

    <select id="getShopVisitList" parameterType="com.whxm.harbor.bean.BizShop" resultMap="ExtensionResultMap">
        SELECT
        shop_number,
        shop_visit_amount,
        shop_name,
        shop_visit_time
        FROM biz_shop_visit
        LEFT JOIN biz_shop USING (shop_number)
        <where>
            <if test="shopName!=null">and shop_name like concat('%',#{shopName},'%')</if>
            <if test="shopHouseNumber!=null">and shop_house_number like concat('%',#{shopHouseNumber},'%')</if>
            <if test="isShopEnabled!=null">and is_shop_enabled=#{shopName}</if>
            <if test="floorId!=null">and floor_id=#{floorId}</if>
            <if test="bizFormatId!=null">and biz_format_id=#{bizFormatId}</if>
        </where>
    </select>

    <resultMap id="ExtensionResultMap" type="com.whxm.harbor.bean.ShopVisit" extends="BaseResultMap">
        <result column="shop_name" property="shopName" jdbcType="VARCHAR"/>
    </resultMap>

    <update id="updateAmountByID">
        UPDATE biz_shop_visit
        SET shop_visit_amount = shop_visit_amount + 1, shop_visit_time = CURRENT_TIMESTAMP
        WHERE shop_number = #{shopNumber}
    </update>
</mapper>