<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whxm.harbor.mapper.TerminalVisitMapper" >
  <resultMap id="BaseResultMap" type="com.whxm.harbor.bean.TerminalVisit" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="terminal_id" property="terminalId" jdbcType="VARCHAR" />
    <result column="terminal_visit_amount" property="terminalVisitAmount" jdbcType="BIGINT" />
    <result column="terminal_visit_time" property="terminalVisitTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, terminal_id, terminal_visit_amount, terminal_visit_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from biz_terminal_visit
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from biz_terminal_visit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whxm.harbor.bean.TerminalVisit" >
    insert into biz_terminal_visit (id, terminal_id, terminal_visit_amount, 
      terminal_visit_time)
    values (#{id,jdbcType=INTEGER}, #{terminalId,jdbcType=VARCHAR}, #{terminalVisitAmount,jdbcType=BIGINT}, 
      #{terminalVisitTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.whxm.harbor.bean.TerminalVisit" >
    insert into biz_terminal_visit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="terminalId != null" >
        terminal_id,
      </if>
      <if test="terminalVisitAmount != null" >
        terminal_visit_amount,
      </if>
      <if test="terminalVisitTime != null" >
        terminal_visit_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="terminalId != null" >
        #{terminalId,jdbcType=VARCHAR},
      </if>
      <if test="terminalVisitAmount != null" >
        #{terminalVisitAmount,jdbcType=BIGINT},
      </if>
      <if test="terminalVisitTime != null" >
        #{terminalVisitTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whxm.harbor.bean.TerminalVisit" >
    update biz_terminal_visit
    <set >
      <if test="terminalId != null" >
        terminal_id = #{terminalId,jdbcType=VARCHAR},
      </if>
      <if test="terminalVisitAmount != null" >
        terminal_visit_amount = #{terminalVisitAmount,jdbcType=BIGINT},
      </if>
      <if test="terminalVisitTime != null" >
        terminal_visit_time = #{terminalVisitTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whxm.harbor.bean.TerminalVisit" >
    update biz_terminal_visit
    set terminal_id = #{terminalId,jdbcType=VARCHAR},
      terminal_visit_amount = #{terminalVisitAmount,jdbcType=BIGINT},
      terminal_visit_time = #{terminalVisitTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>