<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whxm.harbor.mapper.VisitCountLogMapper" >
  <resultMap id="BaseResultMap" type="com.whxm.harbor.bean.VisitCountLog" >
    <id column="terminal_id" property="terminalId" jdbcType="VARCHAR" />
    <result column="terminal_ip" property="terminalIp" jdbcType="VARCHAR" />
    <result column="shop_id" property="shopId" jdbcType="VARCHAR" />
    <result column="create_count_time" property="createCountTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    terminal_id, terminal_ip, shop_id, create_count_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from visit_count_log
    where terminal_id = #{terminalId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from visit_count_log
    where terminal_id = #{terminalId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.whxm.harbor.bean.VisitCountLog" >
    insert into visit_count_log (terminal_id, terminal_ip, shop_id, 
      create_count_time)
    values (#{terminalId,jdbcType=VARCHAR}, #{terminalIp,jdbcType=VARCHAR}, #{shopId,jdbcType=VARCHAR}, 
      #{createCountTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.whxm.harbor.bean.VisitCountLog" >
    insert into visit_count_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="terminalId != null" >
        terminal_id,
      </if>
      <if test="terminalIp != null" >
        terminal_ip,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="createCountTime != null" >
        create_count_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="terminalId != null" >
        #{terminalId,jdbcType=VARCHAR},
      </if>
      <if test="terminalIp != null" >
        #{terminalIp,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="createCountTime != null" >
        #{createCountTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whxm.harbor.bean.VisitCountLog" >
    update visit_count_log
    <set >
      <if test="terminalIp != null" >
        terminal_ip = #{terminalIp,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="createCountTime != null" >
        create_count_time = #{createCountTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where terminal_id = #{terminalId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whxm.harbor.bean.VisitCountLog" >
    update visit_count_log
    set terminal_ip = #{terminalIp,jdbcType=VARCHAR},
      shop_id = #{shopId,jdbcType=VARCHAR},
      create_count_time = #{createCountTime,jdbcType=TIMESTAMP}
    where terminal_id = #{terminalId,jdbcType=VARCHAR}
  </update>
</mapper>