spring:
  application:
    name: harbor-web
  datasource:     #47.94.202.250
    url: jdbc:mysql://${databasehost:localhost}:3306/harbor?useUnicode=true&characterEncoding=utf8
    username: root
    password: 123456
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    filters: stat
    maxActive: 20
    initialSize: 1
    maxWait: 60000
    minIdle: 1
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: select 'x'
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    maxOpenPreparedStatements: 20
  redis:
      host: ${redishost:192.168.1.80}    #47.94.202.250
mybatis:
  type-aliases-package: com.whxm.harbor.bean
  mapper-locations: mapper/*.xml
pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql
swagger2:
  package: com.whxm.harbor.controller
fileDir:
  activityLogoDir: activityLogo
  activityMaterialImgDir: activityMaterialPicture
  shopLogoDir: shopLogo
  shopPictureDir: shopPicture
  screensaverMaterialImgDir: screensaverMaterialPicture
urlConfig:
  urlPrefix: ${resourceServer:http://192.168.1.103:8080/resources/}
server:
  port: 9000

#redis分布式锁的jedis配置
jedis:
  host: ${redishost:192.168.1.80}
  port: ${redisPort:6379}
