spring:
  profiles:
    active: local  #启用本地配置参数
  application:
    name: harbor-web
  datasource:
    url: jdbc:mysql://${mysql.address}:3306/harbor?useUnicode=true&characterEncoding=utf8
    username: root
    password: 123456
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
  redis:
    host: ${redis.address}
  #配置全局时间返回格式
  jackson:
    default-property-inclusion: non_null  #忽略对象中值为null的属性
#   date-format: yyyy-MM-dd HH:mm:ss
#   time-zone: GMT+8
mybatis:
  type-aliases-package: com.whxm.harbor.bean
  mapper-locations: mapper/*.xml
pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql
# log print directory
logging:
    level:
        com.whxm: INFO
    file: ${log.parent-path}${log.web-path}
server:
  port: 9000
###################以下为自定义配置###################
# swagger2 restful archive
swagger2:
  package: com.whxm.harbor.controller
# terminal
terminal:
  on-off: 00:00-24:00
  delay: 10
  protect: 300
# 一个账号不限登录总人数,但是限制2小时/1000人新登录
account:
  login-limit: 1000
# wei xin
wechat:
  app-id: wx64a4ab9041d6344b
  secret: 78ce2dae8e9b51ac1f26c6eda6bc079f
# resources application url
resource:
  path: http://${resource.address}:8080/resources
# file config
file:
  absolute-resource-dir: ${my-web-dir}/resources
  relative-picture-upload-dir: uploadImg/business
  file-origin-name: fileOriginName
  file-new-name: fileNewName
  file-size: fileSize
  file-path: filePath
  image-orientation: imageOrientation
# log record  ---resource.path+log.bug-path构成了bug详情访问URL,用于给微信推送访问bug详情
#linux部署时,对于spring-boot的jar启动项目来说
#容器中的/usr/local/tomcat/webapps目录被挂载到了/var/lib/docker/volumes/webapps/_data,用于文件上传后自动同步到资源服务器
log:
  parent-path: ${my-web-dir}
  web-path: /logs/harbor.log  #记录日志
  bug-path: /logs/bug.log     #记录bug



