spring:
  application:
    name: harbor-web
  datasource:       #&useSSL=false  47.94.202.250 or 192.168.1.146
    url: jdbc:mysql://${mysql.address:192.168.1.80}:3306/harbor?useUnicode=true&characterEncoding=utf8
    username: root
    password: 123456
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    filters: stat
    maxActive: 20
    initialSize: 1
    maxWait: 60000
    minIdle: 1
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: select 'x'
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    maxOpenPreparedStatements: 20
  redis:
    host: ${redis.address:192.168.1.80}     # 47.94.202.250 or 192.168.1.146
  #配置全局时间返回格式
  jackson:
    default-property-inclusion: non_null
#   date-format: yyyy-MM-dd HH:mm:ss
#   time-zone: GMT+8
mybatis:
  type-aliases-package: com.whxm.harbor.bean
  mapper-locations: mapper/*.xml
pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql
swagger2:
  package: com.whxm.harbor.controller
urlConfig:                          # 47.94.202.250 or 192.168.1.80 or 192.168.1.146
  urlPrefix: http://${resource.address:192.168.1.103}:8080/resources/
server:
  port: 9000
terminal:
  on-off:  00:00-24:00
  delay:  10
  protect:  300
logging:
    level:
        com.whxm: DEBUG
    file: /var/logs/harbor.log
    root: INFO
account:
  login-limit: 10
